@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Fonts */
    --font-sans: 'Inter', sans-serif;
    --font-display: 'MuseoModerno', cursive;
    /* Colors */
    --color-primary: #001EFF;
    --color-secondary: #004DE8;
    --color-background: #F2F2F7;
}
